{
  "extends": ["eslint-config-jave"],
  "parserOptions": {
    "project": ["tsconfig.json"],
    "sourceType": "module"
  },
  "ignorePatterns": [
    "*-migrations.ts",
    "package-lock.json",
    "package.json",
    "tsconfig.json"
  ]
}
